body {
  font-family: sans-serif;
  background-color: #46bfcf;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  background: rgb(196, 149, 149);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

input {
  padding: 10px;
  margin: 10px;
  width: 200px;
}

button {
  background-color: lightskyblue;
  padding: 10px 20px;
  cursor: pointer;
}

.weather {
  margin-top: 20px;
}